/* Write your CSS here */

button {
  width: 140px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #382f5a;
  border: 1px #c4c4c4 solid;
  color: #c4c4c4;
  font-weight: bold;
  font-family: 'Roboto';
  margin-bottom: 15px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}
