/* Write your CSS here */

.main-container {
  background-color: #d4d2db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .main-container {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.bg-container {
  background-color: #150b3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  max-width: 350px;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #c4c4c4;
  font-family: 'Roboto';
}

.profile-icon {
  background-color: #c7d2fe;
  padding: 15px;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-family: 'Roboto';
  color: #585076;
}

.balance-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.your-balance {
  color: #585076;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}
.two-in-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -10px;
}

.number {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
}
.rupees {
  margin-top: -15px;
  color: #585076;
  font-weight: 500;
  font-family: 'Roboto';
}
.withdraw-statement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.withdraw {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 20px;
}

.sum {
  font-family: 'Roboto';
  font-size: 12px;
  color: #585076;
  font-weight: 600;
}

.denominations-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  list-style-type: none;
  max-width: 350px;
  margin-left: -30px;
}
